<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>About Us</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<section class="section">
    <h1>About Us</h1>
    <p>
        TechNerd is a modern software company focused on delivering high-quality
        applications for startups and enterprises. Contact now to work with us!!
    </p>
</section>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
